In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import scanpy as sc

In [4]:
sc.settings.verbosity = 3             # verbosity: errors (0), warnings (1), info (2), hints (3)
sc.logging.print_header()
sc.settings.set_figure_params(dpi=80, facecolor='white')

scanpy==1.7.1 anndata==0.7.5 umap==0.5.1 numpy==1.20.1 scipy==1.6.1 pandas==1.2.3 scikit-learn==0.24.1 statsmodels==0.12.2

In [6]:
file_path = 'pbmc3k_processed.h5ad'
adata = sc.read_h5ad(file_path)

c:\users\sirius\appdata\local\programs\python\python38\lib\site-packages\anndata\compat\__init__.py:179: FutureWarning: Moving element from .uns['neighbors']['distances'] to .obsp['distances'].

This is where adjacency matrices should go now.
  warn(
c:\users\sirius\appdata\local\programs\python\python38\lib\site-packages\anndata\compat\__init__.py:179: FutureWarning: Moving element from .uns['neighbors']['connectivities'] to .obsp['connectivities'].

This is where adjacency matrices should go now.
  warn(

In [7]:
adata

AnnData object with n_obs × n_vars = 3309 × 1764
    obs: 'n_genes', 'n_counts', 'percent_mito', 'louvain'
    var: 'gene_ids', 'feature_types', 'n_cells', 'highly_variable', 'means', 'dispersions', 'dispersions_norm'
    uns: 'louvain', 'louvain_colors', 'neighbors', 'pca', 'rank_genes_groups', 'umap'
    obsm: 'X_pca', 'X_umap'
    varm: 'PCs'
    obsp: 'distances', 'connectivities'

In [8]:
adata.obs

                    n_genes  n_counts  percent_mito louvain
AAACCCACAGGCTTGC-1     1685    4428.0      0.119241       2
AAACCCAGTAGTTAGA-1     2291    7107.0      0.059519       2
AAACGAAGTGGATCAG-1     1850    4838.0      0.076685       2
AAACGAATCATGAGAA-1     1410    4244.0      0.047361       0
AAACGAATCGTCCTTG-1     1593    4055.0      0.101850       2
...                     ...       ...           ...     ...
TTTGATCGTTACGCCG-1     1591    6504.0      0.089637       0
TTTGGAGAGGTAGCCA-1     1957    6569.0      0.051302       0
TTTGGAGGTATCGATC-1     1411    4803.0      0.083281       1
TTTGGTTCAATTTCCT-1     2850    8431.0      0.083146       2
TTTGGTTGTTGGAGAC-1     1520    4546.0      0.094149       0

[3309 rows x 4 columns]

In [9]:
type(adata.obs)

pandas.core.frame.DataFrame

In [10]:
adata.var

,gene_ids,feature_types,n_cells,highly_variable,means,dispersions,dispersions_norm
HES4,ENSG00000188290,Gene Expression,172,True,0.126009,1.552542,4.629852
ISG15,ENSG00000187608,Gene Expression,1639,True,0.938146,1.793806,1.687141
TNFRSF18,ENSG00000186891,Gene Expression,210,True,0.122628,1.053876,2.278032
TNFRSF4,ENSG00000186827,Gene Expression,239,True,0.135475,1.046793,2.244627
AL645728.1,ENSG00000215014,Gene Expression,456,True,0.224212,0.688873,0.556601
...,...,...,...,...,...,...,...
MX1,ENSG00000157601,Gene Expression,731,True,0.431630,1.540377,3.462902
PDXK,ENSG00000160209,Gene Expression,724,True,0.371108,0.785511,0.545241
AP001059.2,ENSG00000275799,Gene Expression,35,True,0.019936,0.743344,0.813498
COL6A2,ENSG00000142173,Gene Expression,233,True,0.147142,1.032129,2.175468
S100B,ENSG00000160307,Gene Expression,161,True,0.390088,3.016053,9.166590